html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #1F2937;
    font-family: "Inter", sans-serif;
}

span {
    color: #10B981;
}

h1 {
    font-family: "Karla", sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
}

h2 {
    color: #D5D4D8;
    font-size: 20px;
    font-weight: 400;
}

button, textarea, p {
    color: white;
    background: #10B981;
    border: none;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 4px;
    /* height: 40px; */
}

button:hover {
    background: yellow;
}

p {
    background: #273549;
    color: #10B981;
    flex: 1;
    max-width: 200px;
    min-height: 18px;
    text-align: center;
    resize: none;
    text-align: left;
    margin-right: 12px;
}

.container {
    padding: 128px 64px;
    max-width: 600px;
    margin: auto;
}

.divider {
    height: 1px;
    width: 100%;
    background: #2F3E53;
    text-align: center;
    margin: 32px auto;
}

.password-boxes>div {
    display: flex;
    /* justify-content: space-between; */
}

#copy-pwd-1, #copy-pwd-2 {
    display: none;
}

#copy-pwd-1:hover, #copy-pwd-2:hover {
    transform: scale(1.2);
    /* background-color: #10B981; */
}

#copy-confirmation-1, #copy-confirmation-2 {
    background: none;
    font-size: 14px;
    font-weight: 400;
    color: white;
}